*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
gen/
bin/
out/
.navigation/
*.log
*.keystore
*.jks
keystore.properties
/app/release/
/app/debug/
/app/build/
/build/
.gradletasknamecache
